body{
    font-family:Arial;
   font-size:120%;
    font-size:large;
}

/* Home page specific styles starts */
html {

}

.home-page{
    padding-top: 150px;
}
Add Glyphicon to Input BoxPreview Edit Code
index.html
style.css
README.md
style.css
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }




body {
height:100%;
background-color:#E2E2E2;
padding-bottom:85px;

}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   
}
.vv-logo-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
input {
 }
.nottxt {
min-height:30px;
font-size:20px;
margin-top:20px;
border: solid 1px black;
border-top:hidden;
background-color:#F3F3F3;
}
.service-title-container{
    padding-top: 10px;
    margin-bottom: 50px;
}
div {


}
button {

}
.index1-want {
 min-height:70px;
 padding-top:20px;
 padding-bottom:20px;
 font-size:20px;
 background-color:white;
 border-bottom:solid 1px #E2E2E2;
 padding-left:30px;
 
}
.index1-btn {
    margin-top:50px;
background-color:red;color:white;min-height:70px;font-size:25px;
}
.index1-want-radius {
border-top-left-radius:10px;
border-top-right-radius:10px;

}
.index1-top {
margin-top:20px;text-align:center;font-size:25px;margin-left:0px;margin-right:0px;
}
.index1-want-radius1 {
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}
.circle {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background:green;
}
.circle-cust {
    width: 30px;
    height:30px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background:#E2E2E2;
}
.ok {
    color:green;
}
.cust-last-hght {
min-height:100px;
}
.circle-cust-ok {
    color:#4A9208;float:right;padding-top:5px;padding-left:5px;padding-bottom:5px;
    padding-right:3px;
}
.service-title-container:before{
    content: "";
    height: 0;
    width: 0;
    position: relative;
    border-bottom: 10px solid #FF0000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -8px;
    left: calc(50% - 5px);
}


.service-title-text{
    color:#FFF;
    text-align: center;
}

.service-title-box{
    height: 50px;
    border-bottom: 1px solid rgba(255,0,0,0.9);
    padding-top: 15px;
    background-color: #FF0000;
}

.service-box-first{
    border-radius: 4px 4px 0 0;
}

.service-box-last{
    border-radius: 0 0 4px 4px;
}


/* Home page specific styles ends */

::-webkit-input-placeholder {
 font-size:20px;
 text-align: center;
 }

input.logintxt
{
      background-color: #FF0000;
      color:white;
     font-size:20px;
}
.btnlogin{
   background-color: #FF0000;
 font-size:20px;    
 color:white;
 height:80px;
 
}
input.form {
height:60px;font-size:20px;
}
.btnloginfotter {
    background-color:red;
    padding-left:20px;
    padding-right:20px;
    bottom:0px;
   color:white;
 
  font-size:20px;
}
#email::-webkit-input-placeholder{
font-size:25px;
color:White;
}
#pwd::-webkit-input-placeholder{
font-size:25px;
color:White;
}
input {
border-top:hidden;
}
.servicebox {
    height: 50px;
    
    background-color: #FF0000;
    color:#FFF;
    text-align: center;
}
.servicecolor {
    background-color: #FF0000;
}
.index-top {
   
   background-color:red;
   min-height:300px;
}

.index_sevicebox1 {
   margin-top:30px;
   background-color:red;
   height:70px;
   
   font-size:20px;
  
}
.dial {
color: #ff3738 !important;

}
 .txt-style {
            padding: 10px;

  background: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 1px 30%, 100% 1px, 1px 30%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;

  border: none;
  color: #999;
   }
 .txt-style-form {
           padding:10px;
           
  background: linear-gradient(#BBBBBB, #BBBBBB), linear-gradient(#BBBBBB, #BBBBBB), linear-gradient(#BBBBBB, #BBBBBB);
  background-size: 2px 30%, 100% 2px, 2px 30%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  border: none;
  color: #999;
   }
.dash-margin {
margin-left:20px;
margin-right:20px;
margin-top:20px;
}
.dash-margin1 {
margin-left:05px;
margin-top:20px;
border-top-left-radius:10px;
border-top-right-radius:10px;
font-size:20px;
height:auto;
}
.dash-margin2 {
margin-left:05px;
margin-right:05px;
font-size:20px;
height:auto;
}
.btn-dashall {
min-height:70px;
background-color:#1D1D1D;
padding-top:07px;
font-size:18px;
color:white;
}
.test-border {
    border:solid 5px green;
}
.index_sevicebox {
    
    font-size:20px;
   margin-top:20px;
    background-color:#E2E2E2;
}
.index1-left {
margin:30px;

}
.index-notfy {
margin-left:10px;
margin-right:10px;

}
.index-sevicebox-btn {
    
    font-size:20px;
    padding-top:60px;
   background-color:#E2E2E2;
}
.index_left {
background-color:white;
}
.index_list {
font-size:20px;
height:50px;
}
.btnindex {
    background-color:#FE0002;
    color:white;
    font-size:20px;
    height:70px;
    
}
.simpleindex-list-first {
    font-size:20px;
   padding-top:20px;
min-height:80px;
padding-left:10px;
background-color:white;
border-bottom:solid 2px #A3A3A3;

}

.simpleindex-list {
font-size:20px;
height:80px;
padding:10px;
background-color:white;
border-bottom:solid 3px #A3A3A3;
}

.search {
font-size:20px;
}

.cust-driver-name {
    font-size: 30px;
    min-height: 50px;
    margin-top:12px;

}
.border-txt {

    border-top-color:white;
    border-top:hidden;
}

#driver-cust::-webkit-input-placeholder  {
    color:black;
    text-align:left;
    font-size:20px;
}
#driver-cust::-webkit-input-placeholder  {
    color:black;
    text-align:left;
    font-size:20px;
    padding-left:20px;
}
.cust-driver-margin {
margin:20px;
}
.cust-driver 
{
margin-top:30px;
padding-left:10px;
padding-bottom:10px;
padding-top:10px;
font-size:23px;
min-height:30px;
background-color:white;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom:solid 1px #A3A3A3;
}
.cust-driver-mid {
padding-left:10px;
padding-bottom:10px;
padding-top:10px;

font-size:20px;
min-height:30px;
background-color:white;
border-bottom:solid 1px #A3A3A3;
}

.cust-driver-last {
padding-left:10px;
padding-bottom:10px;
padding-top:10px;

font-size:20px;
min-height:30px;
background-color:white;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
.cust-driver-count {
padding-left:10px;
font-size:20px;
background-color:white;
padding-right:30px;
padding-top:10px;
border-radius:10px;
min-height:30px;
padding-bottom:10px;
}
.cust-index-list {
padding-left:30px;
font-size:20px;
padding-right:30px;

border-radius:10px;

}
.cust-driver-done {
color:white;
text-align:center;
font-size:20px;
background-color:red;
margin-top:30px;
min-height:70px;
border-radius:10px;

}
.div-topall {
font-size:23px;
min-height:70px;
color:white;
background-color:red;
padding-top:20px;
}
 .div-login {
font-size:25px;
min-height:85px;
color:white;
padding-left:20px;
background-color:#BC0203;
}
.cust-driver-reset {
font-size:20px;
margin-top:5px;
min-height:70px;
background-color:#E2E2E2;
border-color:#E2E2E2;
}
.cust-driver-address {
padding-left:10px;
padding-bottom:10px;
padding-top:10px;
font-size:20px;
min-height:30px;
color:red;

margin-top:20px;
border-top-left-radius:10px;
border-top-right-radius:10px;
background-color:white;
border-bottom:solid 2px #A3A3A3;

}
.cust-driver-address-ext{
padding-left:10px;
font-size:20px;
background-color:white;
min-height:70px;
padding-right:10px;
margin-top:20px;
border-radius:10px;
padding-top:20px;
}
.index1-search-panel {
border-color:black;border-top-color:white;border-top:hidden;min-height:50px;font-size:20px;
}
.shopcart {
    
  font-size:20px;
  padding-top:5px;
   background-color:black;
   color:white;
   text-align:center;
   min-height:40px;
}
.cart-margin {
margin-left:30px;
margin-top:05px;
margin-right:20px;
}
.shopcart-item {
padding-left:10px;
font-size:20px;
background-color:#E2E2E2;
padding-top:10px;
min-height:70px;
padding-right:10px;
}
.shopcart-item-list {
font-size:20px;
background-color:white;
padding-left:10px;
padding-top:20px;
padding-bottom:10px;
min-height:80px;
margin-top:20px;
color:red;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom:solid 2px #E2E2E2;
}
.shopcart-item-list2 {
font-size:20px;
background-color:white;
padding-left:10px;
min-height:80px;
margin-top:15px;
color:red;
padding-top:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
}
.shopcart-item-list-mid{
font-size:20px;
background-color:white;
padding-left:10px;
padding-top:20px;
padding-bottom:10px;
min-height:80px;
margin-top:0px;
border-bottom:solid 2px #E2E2E2;
}
.shopcart-item-list-mid1{
font-size:20px;
background-color:white;
padding-left:10px;
padding-top:20px;
padding-bottom:10px;
min-height:80px;
margin-top:0px;
color:red;
border-bottom:solid 2px #E2E2E2;
}
.cart-ok {
float:right;
color:#BFBFBF;
padding-right:20px;
padding-top:10px;
}
.cart-ok-mid{
float:right;
color:#BFBFBF;

padding-top:10px;
}
p {
padding-left:20px;
padding-right:20px;
}
.body-set {
    margin-left: 0px;
    margin-right: 0px;
}
.fotter {
   position:fixed;
    bottom:0;
   left:0;
   right:0px;
}
.row::before {
margin-left:0px;
margin-right:0px;
}
.fotter-btn {
    position:fixed;
    bottom:0px;
    
   
 
    width:100%;
    z-index:0;
    clear:both;
  
   
    
}
button {
font-size:20px;
font-size-adjust:none;
}
.cart-pad {
padding-left:20px;
}
.shopcart-item-list-last{
font-size:20px;
background-color:white;
padding-left:10px;
padding-top:10px;
padding-bottom:10px;

min-height:80px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
.shop-cart-total {
min-height:80px;
background-color:#E2E2E2;
margin-top:40px;
color:black;
font-size:20px;
border-top-left-radius:10px;
border-top-right-radius:10px;
padding:20px;
margin-right:15px;
}
.shop-cart-total-tax {
min-height:80px;
padding:20px;
font-size:20px;
background-color:#E2E2E2;
color:black;
border-bottom:solid 2px white;
font-size:20px;
margin-right:15px;
}
.shop-cart-totalprice {
height:120px;
font-size:20px;
background-color:#E2E2E2;
margin-right:15px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
color:black;
font-size:20px;
padding:20px;
}
.subtotal {
padding:20px;
font-size:20px;
}
.total-price {
    padding:20px;
font-size:20px;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	
	border-bottom: 25px solid white;
}
.menu-list {
    margin-left: 60px;
    border-color: white;
    border-bottom: solid 1px;
    margin-right: 50px;
    font-size: 35px;
    color: white;
}
.rad {
border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 min-height:100px;
 background-color:#F3F3F3;
}
.notf-order {
 padding:10px;
 background-color:white;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 min-height:100px;
}
.notf-order-name {
 padding:10px;
 background-color:white;
 height:auto;
 
 font-size:20px;
}
.loader {
    background:#FFF;
    padding:5px 10px;
    width:500px;
    height:200px;
    position:absolute;
    left:40%;
    left: calc(50% - 150px);
    top:42%;
    top:calc(50% - 36px);
    z-index:1000;
    border-radius:5px;
    border:1px solid #AAA;
    box-shadow: 1px 7px 7px rgba(0,0,0,0.3);
    display:block;
    border-radius:10px;
}
.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top:60%;
    left:10%;
}
.full {
height:100%;
width:100%;
}
.modal-body-height {
height:200px;
width:100%;
}
.index1-transparent {
opacity:0.4;
filter: alpha(opacity=0);
background-color:black;
}
.menu-btn-logout {
background-color:#000000;
color:white;
font-size:20px;
min-height:90px;
border-color:#000000;
border-color:#161616;

}
i {
color:white;
}

.menu-btn-far {
   background-color:#161616;
   color:white;
 }
.btn-menu-farbar {
   background-color:red;
   color:white;
 }
.menu-div {
height:auto;
min-height:100px;
background-color:#161616;
border-color:#161616;
}
button {
font-size:20px;
}
.menu-btn{
background-color:#161616;
color:white;
font-size:20px;
min-height:70px;
border-color:#161616;
text-align:left;
border-color:#161616;
border-bottom-color:white;
margin-top:30px;
}
 .menu-btn-mid{
background-color:#161616;
color:#565455;
font-size:20px;
min-height:70px;
border-color:#161616;
text-align:left;
border-color:#161616;
border-bottom-color:white;
}
.menu-btn-last{
    background-color:#161616;
    color:white;
    font-size:20px;
    min-height: 70px;
    border-color: #000000;
    text-align: left;
    border-color: #161616;
   
    margin-top:50px;
}
.login-top{
background-color:#BC0203;
min-height:60px;    
}
.login-first{
background-color:#E90101;
min-height:60px;    
}
.divimg {
border-color:#E90101;
}
a {

}
.login-inputtext
 {

min-height:50px;
margin-top:30px;
border-top-color:red;
font-size:20px;
background-color: #BC0203;
border-top-color:#BC0203;
color:white;
border:none;
border:0;

}
#email::-webkit-input-placeholder{
color:White;
font-size:20px;
}
#password::-webkit-input-placeholder{
color:White;font-size:20px;
}
#txtsearch::-webkit-input-placeholder {
text-align:left;
font-size:25px;
}
.login-btnlogin {
 background-color: #FF0000;
 font-size:20px;    
 color:white;
 margin-top:50px;
 min-height:50px;
 border-color:#FF0000;
}

.login-btnlist {
 font-size:20px;    
 color:white;
min-height:70px;
background-color: #BC0203;
border-color:#BC0203;
border-left:solid 1px #3C3C3C;
border-top:solid 1px #3C3C3C;


}
.dash-backcolor{
  
    background-color:#E2E2E2;
  
}
.dash-order {
background-color:white;
border-top-left-radius:10px;
border-top-right-radius:10px;
font-size:20px;
padding-left:40px;


}
.dash-order-date {
background-color:white;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
font-size:20px;
padding-left:40px;
color:#727272;
margin-top:0;
min-height:70px;
}
.dash-progress {
background-color:white;
font-size:20px;
padding-left:40px;
margin-top:0;
min-height:400px;
border-radius:10px;
}
.dash-btn {
background-color:white;
font-size:20px;
padding-left:40px;
margin-top:0;

}
.dash-btn-report {
background-color:#DADADA;
color:white;
height:50px;

margin-top:140px;
font-size:20px;
}
.simple-input {
min-height:70px;
margin-top:20px;
padding:10px;
font-size:20px;
border-color:black;
color:#676767;
}
.simple-input::-webkit-input-placeholder{
font-size:23px;
color:#676767;
text-align:left;
padding-left:02px;
}
.index1-margin {
margin-top:20px;
margin-left:25px;
margin-right:10px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.circular-bar {
  text-align: center;

}
.circular-bar .circular-bar-content {
  margin-bottom:70px;
  margin-top: -175px;
  text-align: center;
}
.circular-bar .circular-bar-content strong {
  display: block;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
  line-height:1.5rem;
  color:black;
  line-height: 24px;
}
.circular-bar .circular-bar-content label {
  display: block;
  font-weight: 300;
  font-size: 20px;
  font-size:2rem;
  line-height: 1.25rem;
  line-height: 20px;
  
}

